* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* Cart component css here */
.cart-container {
  width: 300px;
  height: 400px;
  overflow-y: auto;
  scrollbar-width: none; /* Hide scrollbar for Firefox */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.cart-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.cartTitle {
  text-align: center;
  position: sticky;
  top: 0;
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.cart-header {
  text-align: center;
  margin: 10px 0px;
}
.cart-list {
  margin: 10px 0px;
  padding: 20px 20px;
  list-style: none;
}
.cart-list li {
  width: 100%;
  padding: 5px 0px;
  padding: 10px 0px;
  border-top: 1px solid #ccc;
}
.inputNewCart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
